div#order-tasks {
    border: 1px solid #D5D7DA;
    border-radius: 0.5em;
}

#order-tasks .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D5D7DA;
    padding: 1em;
}

#order-tasks .header .progress-actions {
    display: flex;
    align-items: center;
    gap: 2em;
}

#order-tasks .header .progress-actions > .actions,
#order-tasks .header .progress-actions > .actions > li {
    padding: 0;
    margin: 0;
}

#order-tasks .header .progress-actions > .actions .add-button {
    color: #3858E9;
    width: 2em;
    height: 2em;
    font-size: 1.5em;
    border: 1px solid #3858E9;
}

#order-tasks .header .progress-actions > .actions .add-button::before {
    content: '\f543';
    font-family: 'dashicons';
    display: block;
}

#order-tasks .header .title-details {
    display: flex;
    align-items: center;
    gap: 1em;
}

#order-tasks .header .title-details::before {
    content: '';
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2238%22%20height%3D%2238%22%20viewBox%3D%220%200%2038%2038%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Crect%20width%3D%2238%22%20height%3D%2238%22%20rx%3D%225%22%20fill%3D%22%23DFCDF9%22/%3E%3Crect%20x%3D%2211.75%22%20y%3D%2211.75%22%20width%3D%2214.5%22%20height%3D%2214.5%22%20rx%3D%227.25%22%20stroke%3D%22%236E1EDC%22%20stroke-width%3D%221.5%22/%3E%3C/svg%3E);
}

#order-tasks .header .title-details > h3 {
    margin: 0;
    padding: 0;
}

#order-tasks .header .title-details > span {
    display: inline-block;
    border-radius: 1em;
    padding: 0.3em 0.7em;
    margin: 0;
    white-space: nowrap;
    background: #F5F5F5;
}

.task-list-container {
    margin: 1em;
}

.task-list-container h4 {
    margin: 0;
    padding: 0;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.task-list > li {
    margin: 0;
    padding: 0;
}

.finished-tasks-section {
    margin: 1em;
}

.finished-tasks-container {
    border-top: 1px solid #D5D7DA;
    padding-top: 1em;
}

.finished-tasks-toggle {
    color: #2271b1;
}

.finished-tasks-toggle::after {
    content: "\f347";
    font-family: 'dashicons';
    font-size: 1.1em;
    vertical-align: middle;
    padding-left: 4px;
}

.finished-tasks-toggle.expanded::after {
    content: "\f343";
    transition: transform 0.3s;
}

.task-list .task-list-empty > p {
    margin-left: 1em;
}