.task-card-wrapper {
    position: relative;
    user-select: none;
    display: block;
}

.task-card {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    background: var(--wpo-aom-card-bg);
    padding: .875em;
    margin: .1em;
    transition: all var(--wpo-aom-transition-fast) ease;
    border: 1px solid var(--wpo-aom-border-color);
    border-radius: var(--wpo-aom-radius-m);
}

.task-card > .task-card-header {
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
}

.task-card-description-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-card-description > p {
    margin: 0;
    padding: 0;
}

.task-card > .task-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1em;
}

.task-card-options .wpo-action-menu {
    width: 15em;
    right: 2em;
}

.task-card-options .wpo-action-menu button {
    padding: 0.9em;
    display: flex;
    align-items: center;
    border-radius: 0;
}

.task-card-options .wpo-action-menu button::before {
    margin-right: 0.7em;
    color: #888D91;
    font-size: 1.2em;
    vertical-align: middle;
}


.task-edit-menu-item::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    mask-image: var(--wpo-aom-icon-edit);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-image: var(--wpo-aom-icon-edit);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.task-finish-menu-item::before {
    content: '';
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-color: currentColor;
    mask-image: var(--wpo-aom-icon-finish);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-image: var(--wpo-aom-icon-finish);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.task-archive-menu-item::before {
    content: '';
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-color: currentColor;
    mask-image: var(--wpo-aom-icon-archive);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-image: var(--wpo-aom-icon-archive);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.task-delete-menu-item {
    color: var(--wpo-aom-danger);
}

.task-delete-menu-item::before {
    content: '';
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-color: currentColor;
    mask-image: var(--wpo-aom-icon-delete);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    /* Webkit prefix for Safari */
    -webkit-mask-image: var(--wpo-aom-icon-delete);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.task-card-options .task-delete-menu-item::before {
    color: var(--wpo-aom-text-gray);
}

.task-card-options .wpo-action-menu .task-delete-menu-item::before {
    color: var(--wpo-aom-danger);
}

.task-card h3,
.task-card h4,
.task-card h5 {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--wpo-aom-text-primary);
    margin: 0;
}

.task-card .task-card-description > p {
    font-size: 1em;
    color: var(--wpo-aom-text-gray);
}

.task-card ul.task-card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6em;
    margin: 0;
    padding: 0;
    align-items: center;
}

.task-card span.task-card-due-date {
    color: var(--wpo-aom-text-gray);
    display: flex;
    gap: 0.3em;
    min-width: 8em;
    justify-content: flex-end;
    align-items: center;
}

.task-card span.task-card-due-date.overdue {
    color: var(--wpo-aom-error);
}

.task-card span.task-card-due-date::before {
    content: '';
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-color: currentColor;
    mask-image: var(--wpo-aom-icon-clock);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: var(--wpo-aom-icon-clock);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.task-card .task-card-order a {
    display: flex;
    justify-content: center;
    align-items: anchor-center;
    gap: 0.3em;
    font-size: 0.9em;
    text-decoration: none;
}

.task-card .task-card-order a::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    mask-image: var(--wpo-aom-icon-person);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: var(--wpo-aom-icon-person);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.task-card .task-card-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.task-card .task-card-header-info {
    display: flex;
    gap: 0.3em;
    margin-left: auto;
}

.task-card .task-finish-checkbox > input {
    margin: 0;
    padding: 0;
    background-color: #A4A7AE;
    border: 0;
    box-shadow: none;
    mask-image: var(--wpo-aom-icon-finish);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: var(--wpo-aom-icon-finish);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    vertical-align: bottom;
}