:root {
    --wpo-aom-primary-color: #0079bf;
    --wpo-aom-bg-light: #f5f6f7;
    --wpo-aom-card-bg: #fff;
    --wpo-aom-text-primary: #333;
    --wpo-aom-card-shadow: 0px 1px 1px #1E1F2140, 0px 0px 1px #1E1F214F;
    --wpo-aom-border-color: #d5d7da;
    --wpo-aom-floating-shadow: 0px 0px 0px 1px #d1d9e080, 0px 6px 12px -3px #25292e0a, 0px 6px 18px 0px #25292e1f;
}

.screenReader {
    display: none;
}

body.woocommerce_page_wpo_aom_task_manager #wpcontent {
    background-color: #fff;
    padding-left: 0;
}

#wpo-aom-task-management > h1 {
    font-size: 1.5em;
    margin: 1.3em;
}

#wpo-aom-task-manager-container {
    margin-top: 3em;
}

#wpo-aom-task-manager-container > .inner > .header {
    border-bottom: 1px solid #091E4224;
}

#wpo-aom-task-manager-container > .inner > .view {
    height: calc(100vh - 14em);
    padding: 1em;
}

#wpo-aom-task-manager-container > .inner > .header > .views-filter {
    margin-left: 2em;
}

#wpo-aom-task-manager-container > .inner > .header > .views-filter > ul {
    font-size: 1.1em;
    display: flex;
    gap: 2em;
    font-weight: 600;
    list-style: none;
    padding: 0;
    margin: 0;
}

#wpo-aom-task-manager-container > .inner > .header > .views-filter > ul > li {
    margin-bottom: 0;
}

#wpo-aom-task-manager-container > .inner > .header > .views-filter > ul > li > button {
    background: 0 0;
    border: none;
    cursor: pointer;
    padding-bottom: .7em;
    margin-bottom: 0;
}

#wpo-aom-task-manager-container > .inner > .header > .views-filter > ul > li.active, #wpo-aom-task-manager-container > .inner > .header > .views-filter > ul > li:hover {
    color: var(--wpo-aom-primary-color);
    border-bottom: 2px solid var(--wpo-aom-primary-color);
}

.kanban-board {
    display: flex;
    gap: 1em;
    height: 100%;
    overflow-x: auto;
}

.kanban-board .kanban-column {
    flex: 0 0 21em;
    display: flex;
    flex-direction: column;
    background: var(--wpo-aom-bg-light);
    border-radius: 6px;
    padding-bottom: 1em;
    border: 1px solid #d1d9e0;
}

.kanban-board .kanban-column-scrollable {
    flex: 1;
    overflow-y: auto;
    scrollbar-color: #ccc transparent;
    margin-right: 4px;
    padding: 4px 1px 0 5px;
}

.kanban-board .kanban-column-scrollable::-webkit-scrollbar {
    width: .5em;
}

.kanban-board .kanban-column-scrollable::-webkit-scrollbar-track {
    background: 0 0;
}

.kanban-board .kanban-column-scrollable::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}

.kanban-board .kanban-column-scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.kanban-board .kanban-column-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 100%;
}

.kanban-board .kanban-column-header {
    margin-bottom: .5em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kanban-board .kanban-column h2 {
    font-size: .95em;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: var(--wpo-aom-text-primary)
}

.kanban-board .kanban-card-wrapper {
    position: relative;
    user-select: none;
    display: block;
}

.kanban-board .kanban-card {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    font-size: 0.9em;
    background: var(--wpo-aom-card-bg);
    border-radius: 4px;
    padding: .875em;
    margin: .1em;
    box-shadow: var(--wpo-aom-card-shadow);
    cursor: grab;
    transition: all .15s ease;
    border: 1px solid transparent;
}

.kanban-board .kanban-card > .kanban-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kanban-board .kanban-card > .kanban-card-header > .kanban-card-options > ul {
    width: 15em;
    right: 1em;
}

.kanban-board .kanban-card > .kanban-card-header > .kanban-card-options > ul > li > button {
    padding: 0.7em 1em;
    display: flex;
    align-items: center;
}

.wpo-options-button {
    width: 2em;
    height: 2em;
}

.wpo-options-button::before {
    content: '\f11c';
    font-family: 'dashicons';
    font-size: 1.2em;
}

.wpo-edit-button::before {
    content: '\f464';
    font-family: 'dashicons';
}

.wpo-edit-delete,
.kanban-card-options .wpo-action-menu .wpo-edit-delete::before{
    color: #d1242f;
}

.wpo-edit-delete::before {
    content: '\f182';
    font-family: 'dashicons';
}

.kanban-card-options .wpo-action-menu button::before {
    margin-right: 6px;
    color: #59636e;
    font-size: 1.4em;
}

.kanban-card-options .wpo-edit-delete::before {
    vertical-align: middle;
    margin-right: 6px;
    color: #59636e;
}

.kanban-board .kanban-card:hover {
    border-color: var(--wpo-aom-primary-color);
}

.kanban-board .kanban-card h3 {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--wpo-aom-text-primary);
    margin: 0;
}

.kanban-board .kanban-card ul.kanban-card-tags {
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.kanban-board .kanban-card ul.kanban-card-tags > li {
    border-radius: 1em;
    padding: 0 0.7em;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0;
}

.kanban-board .kanban-card span.kanban-card-due-date {
    color: #535862;
    line-height: 1;
}

.kanban-board .kanban-card.dragging,
.kanban-board .kanban-card.selected {
    border-color: var(--wpo-aom-primary-color);
}

.kanban-board .kanban-card.dragging {
    cursor: grabbing;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .25);
    opacity: .4;
}

.kanban-card-wrapper.drop-indicator-top::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: var(--wpo-aom-primary-color);
    border-radius: 2px;
    z-index: 10;
    top: -4px;
}

.kanban-card-wrapper.drop-indicator-bottom::after,
.kanban-column-container.show-drop-indicator .kanban-card-wrapper:last-child::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: var(--wpo-aom-primary-color);
    border-radius: 2px;
    z-index: 10;
    bottom: -4px;
}

.kanban-column-container.show-drop-indicator:not(:has(.kanban-card-wrapper))::after {
    content: "";
    height: 3px;
    background: var(--wpo-aom-primary-color);
    border-radius: 2px;
    z-index: 10;
}


.kanban-column-container > .kanban-drop-indicator {
    position: static;
    height: 2px;
    margin: .5em 0;
    border-radius: 1px;
}

.wpo-aom-actions {
    display: flex;
    gap: 0.6em;
    align-items: center;
    justify-content: space-between;
}

.wpo-aom-actions > .wpo-button {
    flex: 1;
    border: 1px solid #dadcde;
    height: 2.5em;
}

.wpo-button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 0.3em;
}

.wpo-button:disabled {
    cursor: not-allowed;
}

.wpo-button-primary {
    background-color: #6e1edc;
    color: #fff;
}

.wpo-button-primary:disabled {
    background-color: #bfa3ec;
    color: #f2f2f2;
}

.wpo-button-icon {
    padding: 0;
    margin: 0;
}

.wpo-button-icon::before {
    font-family: 'dashicons';
    display: block;
}


.wpo-button-icon:hover {
    background-color: #0000000d;
}

.add-task-button {
    color: #838790;
    width: 1.3em;
    height: 1.3em;
    font-size: 1.5em;
}

.add-task-button::before {
    content: '\f543';
}

.wpo-aom-sidebar-close {
    width: 1.3em;
    height: 1.3em;
    font-size: 1.7em;
}

.wpo-aom-sidebar-close::before {
    content: '\f335';
}

.wpo-aom-sidebar-modal {
    position: fixed;
    inset: 0;
    top: 32px; /* Adjust for admin bar height */
    left: auto;
    right: 0;
    height: calc(100vh - 32px);
    z-index: 9991;
    width: 40em;
    overflow: hidden;
    overscroll-behavior-y: none;
    border-left: 1px solid #ddd;
    background: #fff;
}

.wpo-aom-sidebar-modal > .inner {
    overflow-y: auto;
    height: 100%;
    scrollbar-gutter: stable;
    display: flex;
    flex-direction: column;
}

.wpo-aom-sidebar-content {
    height: 100%;
}

.wpo-aom-task-form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wpo-aom-task-form.submitting {
    cursor: wait;
}

.wpo-aom-task-form > .wpo-aom-actions {
    border-top: 1px solid var(--wpo-aom-border-color);
    padding: 2em 1em;
    margin-top: auto;
}

.wpo-aom-sidebar-backdrop {
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    right: auto;
    z-index: 9990;
}

.wpo-aom-sidebar-header > h2 {
    padding: 0;
    margin: 0;
}

.wpo-aom-task-form > fieldset {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 2em;
}

.wpo-aom-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.wpo-aom-task-field-group {
    display: flex;
    padding: 0 1em;
    gap: 0.5em;
}

.wpo-aom-task-field-group input,
.wpo-aom-task-field-group select,
.wpo-aom-task-field-group textarea {
    font-size: inherit;
    border-color: var(--wpo-aom-border-color);
    border-radius: 0.5em;
}

.wpo-aom-task-field-group > * {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.wpo-aom-field-option-dropdown-container {
    position: relative;
}

.wpo-aom-field-option-dropdown-container > button {
    background: transparent;
    border: 1px solid var(--wpo-aom-border-color);
    border-radius: 8px;
    width: 100%;
    height: 2.31em;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.wpo-aom-field-option-dropdown-container > button:focus {
    border-color: #2271b1;
    box-shadow: 0 0 0 1px #2271b1;
    /* Only visible in Windows High Contrast mode */
    outline: 2px solid transparent;
}

.wpo-aom-field-option-dropdown-container > button::after {
    font-family: 'dashicons';
    content: "\f347";
    margin-left: auto;
    color: #535862;
    font-size: 1.2em;
}

.wpo-action-menu {
    position: absolute;
    box-shadow: var(--wpo-aom-floating-shadow);
    padding: 0;
    margin: 5px 0 0;
    border-radius: 0.5em;
    overflow: hidden;
    background: #fff;
    width: 100%;
    z-index: 1;
}

.wpo-action-menu > li {
    margin: 0;
    padding: 0;
}

.wpo-action-menu > li > button {
    cursor: pointer;
    margin: 0;
    border: none;
    width: 100%;
    text-align: left;
    background: none;
}

.wpo-action-menu > li > button:hover,
.wpo-action-menu > li > button:focus {
    background-color: #00000012;
    outline: none;
}

.wpo-aom-field-option-dropdown-container > ul > li > button {
    padding: 0.7em 1em;
}

.wpo-aom-label {
    border-radius: 1em;
    padding: 2px 0.7em;
    font-size: 0.90em;
    font-weight: 600;
}

.wpo-aom-async-multi-select-container {
    position: relative;
}

.wpo-aom-async-multi-select-container > input {
    width: 100%;
}

.wpo-aom-async-multi-select-container > ul.wpo-aom-async-multi-select-options {
    position: absolute;
    cursor: pointer;
    box-shadow: var(--wpo-aom-floating-shadow);
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    margin: 5px 0 0;
    background: #fff;
    width: 100%;
    z-index: 1;
}

.wpo-aom-async-multi-select-container > .wpo-aom-async-multi-select-message {
    position: absolute;
    box-shadow: var(--wpo-aom-floating-shadow);
    border-radius: 8px;
    overflow: hidden;
    margin: 5px 0 0;
    background: #fff;
    width: 100%;
    z-index: 1;
}

.wpo-aom-async-multi-select-container > .wpo-aom-async-multi-select-message > p {
    margin: 0.5em;
}

.wpo-aom-async-multi-select-container > ul.wpo-aom-async-multi-select-options > li > button:hover,
.wpo-aom-async-multi-select-container > ul.wpo-aom-async-multi-select-options > li > button:focus {
    background-color: #00000012;
    outline: none;
}

.wpo-aom-async-multi-select-container > ul.wpo-aom-async-multi-select-options > li {
    margin: 0;
    padding: 0;
}

.wpo-aom-async-multi-select-container > ul.wpo-aom-async-multi-select-options > li > button {
    border: none;
    background: transparent;
    width: 100%;
    text-align: left;
    padding: 0.7em 1em;
    cursor: pointer;
}

.wpo-aom-async-multi-select-container > ul.wpo-aom-async-multi-select-selected-options {
    display: flex;
    column-gap: 0.5em;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em 0 0;
    font-size: 0.9em;
}

.wpo-aom-async-multi-select-container > ul.wpo-aom-async-multi-select-selected-options > li {
    background: var(--wpo-aom-bg-light);
    border-radius: 5em;
    padding: 0 0 0 0.7em;
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.wpo-aom-async-multi-select-container > ul.wpo-aom-async-multi-select-selected-options > li > .wpo-button:hover {
    border-radius: 5em;
}
